*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img{
    width: 286.4px !important ;
   /*  height: 229px; */
    margin-bottom: 10px;
}

.m-20{
    margin-left:110px ;
    margin-bottom: 10px;
    margin-top: 10px;
}

form , .header{
    max-width: 85vw;
    margin: 0 auto;
    margin-bottom: 10px;
}


.margintable{
    margin: 10px auto;
    max-width: 80vw;
}